:root {
    --primary-color: #ffc107;
    --secondary-color: #ff5722;
    --tertiary-color: #2196f3;
    --light-gray: #f5f5f5;
    --dark-gray: #333333;
  }

  body {
    background-color: black;
  }

  /* .container {
    background-image: linear-gradient(to right, var(--tertiary-color) 0%, var(--tertiary-color) 40%, var(--primary-color) 40%, var(--primary-color) 100%);
    background-color: black;
  } */